<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
</head>
<body>
   <div class="container">
       <h1> Employee Management System</h1>
       <hr>
         <h2> Update Employee </h2>
         
         <form action="#" th:action="@{/saveEmployee}" th:object ="${employee}" method="POST">
         
         <!-- Add hidden form field to handle update -->
         <input type="hidden" th:field="*{id}">
         
            <input type="text" th:field = "*{firstname}" class="form-control mb-4 col-4"> 
            <input type="text" th:field = "*{lastname}" class="form-control mb-4 col-4"> 
            <input type="text" th:field = "*{email}" class="form-control mb-4 col-4"> 
            
            <button type="submit" class="btn btn-success col-2"> Update Employee</button>
         </form>
         <hr>
           <a th:href = "@{/}"> Back to Employee List</a>
    </div>
</body>
</html>